# VSCode
/.vscode

# MacOS stuff
.DS_Store

# Dependencies
/node_modules

# Config file
/src/config/config.json

# Compiled Javascript files (I'm using Typescript)
/dist

# Generated output files
/output